
{% include "includes/dochead.html" %}

    <div class="container-fluid text-center top-container">
        <img src="static/images/uta-logo-200.png">
    </div>
    <div class="container">

        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Welcome to Universal Tech Academy.</h1>
                <h3>Let's get started.</h3>
                <p>Already registered? <a href='login.html'>Login</a></p>
            </div>
        </div>
    </div>

{% include "includes/footer.html" %}
